openapi: 3.0.0
info:
  title: Common API
  description: 공통 API(약관, FAQ, 카테고리, 색상 코드 등)을 정의하는 문서입니다.
  version: 0.0.1
servers:
  - url: https://api.locat.kr
    description: Production
paths:
  /v1/terms:
    get:
      description: "최신 버전의 약관 목록 조회 API"
      security:
        - bearerAuth: [ ]
      responses:
        200:
          $ref: "#/components/responses/TermsListResponse"
    post:
      description: "약관 등록 또는 수정 API (약관 타입별로 최신 버전이 하나만 존재)"
      security:
        - bearerAuth: [ ]
      requestBody:
        $ref: "#/components/requestBodies/TermsUpsertRequest"
      responses:
        200:
          $ref: "#/components/responses/TermsResponse"
  /v1/terms/{type}:
    get:
      description: "타입별 개별 최신 약관 조회 API"
      security:
        - bearerAuth: [ ]
      parameters:
        - name: type
          in: path
          description: "조회할 약관의 타입(Non-Case Sensitive)"
          required: true
          example: "TERMS_OF_SERVICE"
          schema:
            type: string
            default: "TERMS_OF_SERVICE"
            enum:
              - "TERMS_OF_SERVICE"
              - "PRIVACY_POLICY"
              - "OVER_14_POLICY"
              - "LOCATION_POLICY"
              - "MARKETING_POLICY"
              - "MARKETING_KAKAO_POLICY"
      responses:
        200:
          $ref: "#/components/responses/TermsResponse"
        400:
          description: "Bad Request: type 입력이 잘못된 경우"
  /v1/terms/{type}/revisions:
    get:
      description: "타입별 약관 개정 이력 조회 API"
      security:
        - bearerAuth: [ ]
      parameters:
        - name: type
          in: path
          description: "조회할 약관의 타입(Non-Case Sensitive)"
          required: true
          example: "TERMS_OF_SERVICE"
          schema:
            type: string
            default: "TERMS_OF_SERVICE"
            enum:
              - "TERMS_OF_SERVICE"
              - "PRIVACY_POLICY"
              - "OVER_14_POLICY"
              - "LOCATION_POLICY"
              - "MARKETING_POLICY"
              - "MARKETING_KAKAO_POLICY"
      responses:
        200:
          $ref: "#/components/responses/TermsRevisionResponse"
        400:
          description: "Bad Request: type 입력이 잘못된 경우"
  /v1/terms/{type}/revisions/{version}:
    get:
      description: "타입별 특정 버전 약관 조회 API"
      security:
        - bearerAuth: [ ]
      parameters:
        - name: type
          in: path
          description: "조회할 약관의 타입(Non-Case Sensitive)"
          required: true
          example: "TERMS_OF_SERVICE"
          schema:
            type: string
            default: "TERMS_OF_SERVICE"
            enum:
              - "TERMS_OF_SERVICE"
              - "PRIVACY_POLICY"
              - "OVER_14_POLICY"
              - "LOCATION_POLICY"
              - "MARKETING_POLICY"
              - "MARKETING_KAKAO_POLICY"
        - name: version
          in: path
          description: "조회할 약관의 버전"
          required: true
          example: "1.0"
          schema:
            type: string
      responses:
        200:
          $ref: "#/components/responses/TermsResponse"
        400:
          description: "Bad Request: type 또는 version 입력이 잘못된 경우"
  /v1/categories:
    get:
      description: "카테고리 목록 조회 API"
      security:
        - bearerAuth: [ ]
      responses:
        200:
          $ref: "#/components/responses/CategoryInfoResponse"
  /v1/color-codes:
    get:
      description: "색상 코드 목록 조회 API"
      security:
        - bearerAuth: [ ]
      responses:
        200:
          $ref: "#/components/responses/ColorCodeResponse"
  /v1/faqs/{type}:
    get:
      description: "분류별 FAQ 조회 API"
      parameters:
        - name: type
          in: path
          description: "FAQ 분류 타입(Non-Case Sensitive)"
          required: true
          example: "GENERAL"
          schema:
            type: string
            default: "GENERAL"
            enum:
              - "GENERAL"
              - "USER"
              - "LOST_FOUND"
              - "SERVICE"
              - "MISCELLANEOUS"
      security:
        - bearerAuth: [ ]
      responses:
        200:
          $ref: "#/components/responses/FaqResponse"
        400:
          description: "Bad Request: type 입력이 잘못된 경우"
components:
  requestBodies:
    TermsUpsertRequest:
      description: "약관 등록/수정 요청"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/TermsUpsertRequest"
  responses:
    TermsListResponse:
      description: "약관 목록 조회 응답"
      content:
        application/json:
          schema:
            allOf:
              - $ref: "schemas.yaml#/components/schemas/BaseResponse"
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/TermsListResponse"
    TermsResponse:
      description: "약관 조회 응답"
      content:
        application/json:
          schema:
            allOf:
              - $ref: "schemas.yaml#/components/schemas/BaseResponse"
              - type: object
                properties:
                  data:
                    type: object
                    items:
                      $ref: "#/components/schemas/TermsResponse"
    TermsRevisionResponse:
      description: "타입별 약관 개정 이력 조회 응답"
      content:
        application/json:
          schema:
            allOf:
              - $ref: "schemas.yaml#/components/schemas/BaseResponse"
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/TermsRevisionResponse"
    CategoryInfoResponse:
      description: "카테고리 목록 조회 응답"
      content:
        application/json:
          schema:
            allOf:
              - $ref: "schemas.yaml#/components/schemas/BaseResponse"
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CategoryInfoResponse"
    ColorCodeResponse:
      description: "색상 코드 목록 조회 응답"
      content:
        application/json:
          schema:
            allOf:
              - $ref: "schemas.yaml#/components/schemas/BaseResponse"
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ColorCodeResponse"
    FaqResponse:
      description: "분류별 FAQ 조회 응답"
      content:
        application/json:
          schema:
            allOf:
              - $ref: "schemas.yaml#/components/schemas/BaseResponse"
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/FaqResponse"
  schemas:
    TermsUpsertRequest:
      type: object
      properties:
        type:
          type: string
          enum:
            - "TERMS_OF_SERVICE"
            - "PRIVACY_POLICY"
            - "OVER_14_POLICY"
            - "LOCATION_POLICY"
            - "MARKETING_POLICY"
            - "MARKETING_KAKAO_POLICY"
          default: "TERMS_OF_SERVICE"
          description: "약관 타입(Non-Case Sensitive)"
        isRequired:
          type: boolean
          description: "필수 여부"
          example: true
        title:
          type: string
          description: "제목"
          example: "LOCAT 서비스 이용 약관"
        content:
          type: string
          description: "본문"
          example: "제1조 (목적) 본 약관은 LOCAT(이하 '회사'라 함)이 제공하는 서비스(이하 '서비스'라 함)를 이용함에 있어 회사와 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다."
        revisionNote:
          type: string
          description: "개정 이유"
          example: "개인정보 처리 방침 변경"
    TermsResponse:
      type: object
      properties:
        id:
          type: integer
          description: "약관 ID"
          example: 3
        type:
          type: string
          enum:
            - "TERMS_OF_SERVICE"
            - "PRIVACY_POLICY"
            - "OVER_14_POLICY"
            - "LOCATION_POLICY"
            - "MARKETING_POLICY"
            - "MARKETING_KAKAO_POLICY"
          default: "TERMS_OF_SERVICE"
          description: "약관 타입(Non-Case Sensitive)"
        title:
          type: string
          description: "제목"
          example: "LOCAT 서비스 이용 약관"
        content:
          type: string
          description: "본문"
          example: "제1조 (목적) 본 약관은 LOCAT(이하 '회사'라 함)이 제공하는 서비스(이하 '서비스'라 함)를 이용함에 있어 회사와 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다."
        createdAt:
          type: string
          format: date-time
          description: "등록일시"
    TermsListResponse:
      type: object
      properties:
        id:
          type: integer
          description: "약관 ID"
          example: 3
        type:
          type: string
          enum:
            - "TERMS_OF_SERVICE"
            - "PRIVACY_POLICY"
            - "OVER_14_POLICY"
            - "LOCATION_POLICY"
            - "MARKETING_POLICY"
            - "MARKETING_KAKAO_POLICY"
          default: "TERMS_OF_SERVICE"
          description: "약관 타입(Non-Case Sensitive)"
        title:
          type: string
          description: "제목"
          example: "LOCAT 서비스 이용 약관"
        createdAt:
          type: string
          format: date-time
          description: "등록일시"
    TermsRevisionResponse:
      type: object
      properties:
        version:
          type: string
          description: "약관 버전"
          example: "1.0"
        revisionNote:
          type: string
          description: "개정 이유"
          example: "개인정보 처리 방침 변경"
        createdAt:
          type: string
          format: date-time
          description: "개정일시"
    CategoryInfoResponse:
      type: object
      properties:
        id:
          type: integer
          description: "카테고리 ID"
          example: 7
        name:
          type: string
          description: "카테고리 이름"
          example: "휴대폰"
        parentId:
          type: integer
          description: "상위 카테고리 ID"
          example: 3
        parentName:
          type: string
          description: "상위 카테고리 이름"
          example: "전자기기"
    ColorCodeResponse:
      type: object
      properties:
        id:
          type: integer
          description: "색상 코드 ID"
          example: 5
        hexCode:
          type: string
          description: "색상 코드(HEX)"
          example: "#FF0000"
        name:
          type: string
          description: "색상 코드 이름"
          example: "빨강"
    FaqResponse:
      type: object
      properties:
        type:
          enum:
            - "GENERAL"
            - "USER"
            - "LOST_FOUND"
            - "SERVICE"
            - "MISCELLANEOUS"
          default: "GENERAL"
          description: "FAQ 분류 타입(Non-Case Sensitive)"
        title:
          type: string
          description: "제목"
          example: "[분실물] 어디서 잃어버렸는지 기억이 안나요!"
        content:
          type: string
          description: "본문"
          example: "설정 > 나의 위치 기록 메뉴에서 내 이동 기록을 확인해보세요."
        createdAt:
          type: string
          format: date-time
          description: "등록일시"
        updatedAt:
          type: string
          format: date-time
          description: "수정일시"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT